<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <th:block th:include="fragments/assets.html :: assets"></th:block>
    <script src="../../js/passwordValidation.js"></script>
</head>
<body>
    <div th:insert="fragments/headerAndFooter.html :: header"></div>
    <div class="container col-4">
        <div class="card bg-light mt-5 bg-light">
            <div class="card-body">
                <div class="card-title text-center text-secondary">
                    <h3>Change Password</h3>
                </div>
                <div class="card-text my-4">
                    <form th:action="@{/user/changePassword(token=${token})}" method="post" th:object="${resetPasswordDto}"
                          onsubmit="return checkPassword(this)">
                        <div th:if="${message}" class="mx-auto row justify-content-center my-2">
                            <div class="alert alert-warning fade show mb-0" role="alert">
                                <span th:text="${message}"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="my-2">
                                <input id="emailInput" class="form-control form-control-md" th:field="*{email}" type="email"
                                       placeholder="Email" autofocus required />
                            </div>
                            <div class="my-2">
                                <input id="password" class="form-control form-control-md" th:field="*{newPassword}" type="password"
                                       size="30" minlength="8" maxlength="30" placeholder="New Password" required
                                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$"
                                       oninvalid="this.setCustomValidity('Passwords must contain an uppercase, lowercase, number, and special character')"
                                       oninput="this.setCustomValidity('')" />
                            </div>
                            <div class="my-2">
                                <input id="passwordConfirmation" class="form-control form-control-md" th:field="*{newPasswordConfirmation}"
                                       type="password" size="30" minlength="8" maxlength="30" placeholder="Confirm Password" required
                                       th:classappend="${not #lists.isEmpty(#fields.errors('newPasswordConfirmation'))} ? is-invalid" />
                                <div class="invalid-feedback">
                                    <p th:each="error : ${#fields.errors('newPasswordConfirmation')}" th:text="${error}"></p>
                                </div>
                            </div>
                            <div class="my-4">
                                <input type="submit" class="btn btn-outline-primary btn-block" value="Change Password" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>