<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Error</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<th:block th:include="fragments/assets.html :: assets"></th:block>
</head>
<body>
<div th:insert="fragments/headerAndFooter.html :: header"></div>
<h1 style="text-align:center">403 Access Denied</h1>
</body>
</html>