<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<th:block th:include="fragments/assets.html :: assets"></th:block>
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous">
	<script src="../../js/passwordValidation.js"></script>
</head>
<body>
	<div th:insert="fragments/headerAndFooter.html :: header"></div>
	<section class="min-vh-100 py-5">
		<div class="container py-5 col-sm-4">
			<form class="text-center border border-gray p-5 bg-light" onsubmit="return checkPassword(this)"
				  th:action="@{/register}" th:object="${registerDto}" method="post">
				<div th:if="${message}" class="mx-auto row justify-content-center my-2">
					<div class="alert alert-warning fade show mb-0" role="alert">
						<span th:text="${message}"></span>
					</div>
				</div>
				<div class="card">
					<p class="h4 card-header bg-dark text-center text-white rounded">Register</p>
				</div>
				<div class="my-4">
					<input id="firstName" class="form-control" type="text" th:field="*{firstName}" size="30"
						   placeholder="First Name" pattern="[A-Za-z]+" autofocus required
						   th:classappend="${not #lists.isEmpty(#fields.errors('firstName'))} ? is-invalid" />
					<div class="invalid-feedback">
						<p th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<input id="lastName" class="form-control" type="text" th:field="*{lastName}"
						   size="30" placeholder="Last Name" pattern="[A-Za-z]+" required
						   th:classappend="${not #lists.isEmpty(#fields.errors('lastName'))} ? is-invalid"/>
					<div class="invalid-feedback">
						<p th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<input id="email" class="form-control" type="email" th:field="*{email}"
						   th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid"
						   placeholder="Email" required />
					<div class="invalid-feedback">
						<p th:each="error: ${#fields.errors('email')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<input id="password" class="form-control" oninput="comparePasswords()" 
						   type="password" th:field="*{password}" size="30" minlength="8" maxlength="30" 
						   placeholder="Password" required
						   th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? is-invalid"
						   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,}$"
						   oninvalid="this.setCustomValidity('Passwords must contain an uppercase, lowercase, number, and special character')" />
					<div class="invalid-feedback">
						<p th:each="error : ${#fields.errors('password')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<input id="passwordConfirmation" class="form-control" oninput="comparePasswords()" 
						   type="password" th:field="*{passwordConfirmation}" size="30" minlength="8" maxlength="30" 
						   placeholder="Confirm Password" required
						   th:classappend="${not #lists.isEmpty(#fields.errors('passwordConfirmation'))} ? is-invalid" />
					<div id="passwords-do-not-match-container" class="text-danger">
						<p th:each="error : ${#fields.errors('passwordConfirmation')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<input id="accountName" class="form-control" type="text" th:field="*{accountName}"size="30"
						   minlength="4" maxlength="25" placeholder="Account Name" required
						   th:classappend="${not #lists.isEmpty(#fields.errors('accountName'))} ? is-invalid" />
					<div class="invalid-feedback">
						<p th:each="error : ${#fields.errors('accountName')}" th:text="${error}"></p>
					</div>
				</div>
				<div class="my-4">
					<select id="serviceLevel" class="form-control" th:field="*{serviceLevel}" name="level" required
							th:classappend="${not #lists.isEmpty(#fields.errors('serviceLevel'))} ? is-invalid">
						<option th:each="level : ${levels}" th:value="${level}"
								th:text="${level}"></option>
					</select>
					<div class="invalid-feedback">
						<p th:each="error : ${#fields.errors('serviceLevel')}" th:text="${error}"></p>
					</div>
				</div>
				<input id="submit" class="btn btn-outline-primary waves-effect w-100 my-2" type="submit" value="Register" />
			</form>
		</div>
	</section>
</body>
</html>